body{
  background-color: #eaf6f6;

}
hr{
  border-style: dotted none none;
  border-top-color: grey;
  border-width: 6px;
  height: 2px;
  width: 10%;
}
h1{
  color: #66bfbf;
}
h3
{
  color: #66bfbf;
}
